body {
    background-color: lightblue;
    margin: 40px;
}

.line {
    border-bottom: 2px solid black;
    margin-top: 20px;
}

.mood {
    font-family: Arial, sans-serif;

    text-align: center;

}

.mood2 {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: right;
    width: 100%;
    text-align: center;

}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;;
}